<div class="card">
  <h5 class="card-header">
    <span class="clearfix">
      <span>ROAD TRAINS</span>
      <%= button_to trains_spawn_path, { form_class: "float-end", class: "btn btn-primary", data: { turbo: false } } do %>
        Request spawn <span class="badge text-bg-warning rounded-pill">1</span>
      <% end %>
    </span>
  </h5>
  <div class="card-body">

  </div>
</div>